{{ define "main" }}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    <p class="post-meta"><time datetime="{{dateFormat "2006-01-02T15:04:05" .Date.UTC}}+00:00" itemprop="datePublished">{{dateFormat "Jan 2, 2006" .Date.UTC}}</time>{{ if (ne .Params.lastmod .Date) }}<span class="date-modified">Updated <time datetime="{{ dateFormat "2006-01-02T15:04:05" .Params.lastmod }}+00:00" itemprop="dateModified">{{ dateFormat "Jan 2, 2006" .Params.lastmod }}</time></span>{{ end }}</p>
  </header>

  {{ .Scratch.Set "deltaPublished" (int (div (now.Sub .Date).Hours 24)) -}}
  {{ .Scratch.Set "deltaModified" (.Scratch.Get "deltaPublished") -}}
  {{ if isset .Params "lastmod" -}}
    {{ .Scratch.Set "deltaModified" (int (div (now.Sub (time .Params.lastmod)).Hours 24)) -}}
  {{ end -}}
  {{ if and (gt (.Scratch.Get "deltaPublished") 1095) (gt (.Scratch.Get "deltaModified") 1095) -}}
    {{ partial "outdated.html" . -}}
  {{ end -}}

  <div class="post-content" itemprop="articleBody">
    {{ .Content }}
  </div>

  {{ partial "feedback.html" . }}
  {{ if .Params.disqus }}{{ template "_internal/disqus.html" . }}{{ end }}
</article>
{{ end }}