<div class="tabs">
  <nav>
    {{- range $index, $title := .Params -}}
      {{- if (eq $index 0) -}}
        <div data-selected="true">{{ $title }}</div>
      {{- else -}}
        <div>{{ $title }}</div>
      {{- end -}}
    {{- end -}}
  </nav>
  <section>
    {{ .Inner }}
  </section>
</div>
<script>
// Gather each of our tab components.
document.querySelectorAll('.tabs').forEach(($tabs) => {

    // Get each button in each tab component.
    $tabs.querySelectorAll('nav div').forEach(($button) => {

        // Add a handler to each button for 'click' events.
        $button.addEventListener('click', function () {
            let selectedIndex = 0;

            // Update the state for each button.
            $tabs.querySelectorAll('nav div').forEach(($otherButton, index) => {
                if ($otherButton !== $button) {
                    delete $otherButton.dataset.selected;
                } else {
                    selectedIndex = index;
                    $button.dataset.selected = true;
                }
            });

            // Update the state for each panel.
            $tabs.querySelectorAll('.tab').forEach(($otherTab, index) => {
                if (index != selectedIndex) {
                    delete $otherTab.dataset.selected;
                } else {
                    $otherTab.dataset.selected = true;
                }
            });
        });
    });
});
</script>